body{

    background-color: forestgreen;

}

.title{

    text-align: center;
    font-size: 30pt;
    font-weight: bold;

}

.sidebar{
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: darkgreen;
    overflow-x: hidden;
}

.sidebarElement{
    text-align: center;
    font-weight: bold;
    font-size: 30pt;
}


